@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer utilities {
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
